:root {
    // Neutrals
    --black: #000000;
    --white: #ffffff;
    --grey-10: #fafafa;
    --grey-100: #2B2C2D;

    // Primaries
    --primary: var(--red-100);
    --secondary: var(--grey-100);

    // Colors
    --red-100: #DD0000;
    --red-120: #B40000;
}